@import '../shared/colors.scss';

.btn{
    composes: uppercase from '../shared/font.css';
    padding: 1rem 2rem;
    border: none;
    color: $fontColor;
    border-radius: 4px;
    cursor: pointer;
    // margin: 1rem .5rem;
    background: $mediumgray;
    width: 100%;
    &:hover{background: darken($mediumgray, 5%);}
    font-size: 1rem;
}

.btn-inline{
    composes: btn;
    width: auto;
}

.btn-rounded{
    composes: btn;
    border-radius: 2rem;
}

.btn-red{
    composes: btn;
    background: $red;
    &:hover{background: darken($red, 5%);}
}

.btn-green{
    composes: btn;
    background: $green;
    &:hover{background: darken($green, 5%);}
}

.btn-blue{
    composes: btn;
    background: $blue;
    &:hover{background: darken($blue, 5%);}
}

.btn-purple{
    composes: btn;
    background: $purple;
    &:hover{background: darken($purple, 5%);}
}
