//pastels
$green: #61B2A0;
$red: #E26161;
$blue: #39A7D1;
$purple: #B271C0;
$gray: #6B6B6B;
$green: #A0D468;
$yellow: #EBCD56;

// $green: #6BD861;
$aqua: #50C1E9;
$lightgray: #F6F7FB;
$mediumgray: #CCD0D9;
$darkgray: #656D78;

$fontColor: #f5f5f5;
