@import '../shared/colors.scss';

$padding: 1rem;

.row{
     display:flex;
     width: 100%;
}

.datepicker{
    composes: panel from '../Panel/Panel.scss';
}

.day{
    flex: 1 0 auto;
    flex-basis: 14.28%;
    max-width: 100%;
    // padding:1rem .5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 2.5rem;
}
